{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      &copy; Copyright {{ site.time | date: '%Y' }}
      {{ site.first_name }}
      {{ site.middle_name }}
      {{ site.last_name }}. {{ site.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
    </div>
  </footer>
{%- else -%}
    <footer class="sticky-bottom mt-5">
      <div class="container">
        <div id="clustrmaps-container">
        <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=XDvFmaRddfU91BwoWuLT6tdJsfWAV43WimAnxx0RGZ4"></script>
        </div>
        &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }}
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {%- if site.last_updated -%}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {%- endif %}
        <br><br>
        <a href="https://physics-morris.github.io/" target="_blank" rel="noopener noreferrer">
        <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fmorris-huang.com&count_bg=%23317773&title_bg=%23F96167&icon=react.svg&icon_color=%23FFFFFF&title=Views&edge_flat=false"/>
        </a>
      </div>
    </footer>
    {%- endif %}
